button {
    border: none;
    margin: 0;
    padding: 0.5rem 1rem;
    width: auto;
    overflow: visible;

    color: white;
    background-color: #162688;

    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
}
